<div data-visibility="gm">
  <span><strong>{{title}}</strong></span>
  <table>
    <tbody>
  {{#each targets as |target|}}
      <tr>
        <td style="min-width:60px">{{target.name}}</td>
        <td style="min-width:25px">{{target.delta}}</td>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>
