<div data-visibility="gm">
  <span>{{title}}</span>
  <table>
    <tbody>
  {{#each targets as |target|}}
      <tr>
        <th>{{target.name}}</th>
        <th>{{target.delta}}</th>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>
