#pf2e-avoid-notice-name {
  min-width: 60px;
}
#pf2e-avoid-notice-deltaStr {
  min-width: 25px;
}
.pf2e-avoid-notice-avoidance-check {
  .pf2e-avoid-notice-observation + .pf2e-avoid-notice-observation {
    margin-left: 6px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  [data-hover-id] {
  }
}

#pf2e-avoid-notice-popup-menu .window-header {
  display: none;
}
